body {

  background-position: 300px 0;
  background-size: contain;
  background-size: 90%;
}

body {
  font-family: "Uni Sans Demo", sans-serif;
  background-color: #363434;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


body handheld {
  background-color: #d9dade;
}

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe,
object,
embed,
video {
  max-width: 100%;
}


#myVideo {
  position: absolute;
  margin-top: -10;
  margin-bottom: -10;
  margin-left: -10;
  margin-right: -10;
}
/*-----------*/
/*   Texte   */
/*-----------*/

.container {
  font-size: 35px;
  margin-left: 5%;
  padding-top: 8%;
}



.type {
  font-size: 5vh;
  position: absolute;
}

/*TABLEAUX DE COMP*/


.image-container {
  position: fixed;
  bottom: 15%;
  right: 5%;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.image {
  max-width: 100%; /* Responsive width */
  max-height: 25vh;
  object-fit: cover; /* Maintain aspect ratio */
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}

.image:hover {
  filter: blur(2px);
}
.bouton-telechargement {
  position: absolute; /* Positioned absolutely within the image */
  top: 50%; /* Vertical centering */
  left: 50%; /* Horizontal centering */
  transform: translate(-50%, -50%); /* Center the button relative to its own position */
  margin: 0; /* Remove margin for better centering */
  display: block;
  z-index: 105;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 3vh;
  background-color: rgb(255, 166, 0); /* Semi-transparent white background */
  padding: 10px 20px; /* Padding for spacing within the button */
  border-radius: 20px; /* Rounded corners for the button */
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.image:hover .bouton-telechargement {
  display: block;
}
